<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>新規プロジェクト作成</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="all" />
</head>
<div class="project-create">
  <p class="font">プロジェクト新規作成</p>
  <form th:action="@{/project/createProject}" th:object="${projectForm}" method="post" class="create-form">
      <p>プロジェクト名</p>
        <p class="input-project"><input type="text" class="project-name" name="project-name" placeholder="Enter Project Name..." th:field="*{projectName}" /></p>
  <hr>
      <p class="input-project">日程</p>
      <p>始まり</p>
        <p class="input-project"><input type="date" class="date" name="date" placeholder="" th:field="*{startDate}"/></p>
      <p>終わり</p>
        <p class="input-project"><input type="date" class="date" name="date" placeholder="" th:field="*{lastDate}"/></p>
  <hr>
        <p><input type="submit" class="create" value="プロジェクト作成"  /></p>
  </form>
</div>

</html>
