<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>プロジェクト編集</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="all" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script th:src="@{/js/member.js}"></script>
</head>
<body>
<header>
  <div class="head-menu">
    <p class="menu-title">旅行計画アプリ</p>
    <a class="user" href=""><img th:src="@{/img/user.png}"></a>
  </div>
  <div class="side-menu">
    <nav class="gnav">
      <ul class="gnav-menu">
        <li><a th:href="@{'/project' + ${projectId} + '/schedule'}">スケジュール一覧</a></li>
        <li><a th:href="@{'/project' + ${projectId} + '/schedule/detail'}">スケジュール詳細</a></li>
        <li><a href="/question/2">アンケート一覧</a></li>
        <li><a th:href="@{'/project' + ${projectId} + '/edit'}">プロジェクト編集</a></li>
        <li><a href="/logout">ログアウト</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="question-edit">
        <p class="font">プロジェクト編集</p>
        <hr>
        <form th:action="@{/project__${project_id}__/edit}" method="post" th:object="${projectEditForm}" class="add">
          <p>プロジェクト名</p>
          <p><input type="text" name="projectName" class="question" th:value="${project.getProjectName()}"/></p>
        <hr>
          <p>日程 </p>
          <p>開始 <input type="date" class="start-date" name="startDate"  th:value="${#dates.format(project.getStartDate(), 'yyyy-MM-dd')}"/></p>
          <p>終了 <input type="date" class="end-date" name="lastDate" th:value="${#dates.format(project.getLastDate(), 'yyyy-MM-dd')}"/></p>
        <hr>
          <p>メンバー</p>
          <ul id="memberUl">
            <li class="inputList" id="1">
              <input type="text" class="email" id="member1" name="addMemberList" />
              <!--<select name="membRole" id="role1">
                <option value="1">管理者</option>
                <option value="2">サブ</option>
                <option value="3">ユーザー</option>
              </select>-->
            </li>
          </ul>
          <div class="icon icon--plus" id="qadd">
            <span class="icon__mark"></span>
          </div>
          <div class="micon icon--minus" id="qdel">
            <span class="icon__mark"></span>
          </div>
          <hr>
          <p><input type="submit" class="create" value="更新" /></p>
    
        </form>
    
</div>
</html>
