<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>プロジェクト選択</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="all" />
    <script src="../js/jQuery-3.3.1.min.js"></script>
</head>
<body>
<header>
  <div class="head-menu">
    <p class="menu-title">旅行計画アプリ</p>
    <a class="user" href="accountEdit.html"><img src="images/user.png"></a>
    <a class="chat" href=""><img src="images/chat.png"></a>
  </div>
</header>
  <div class="project-select">
    <p class="font">プロジェクト選択</p>
    <div class="project">
      <div class="new-create">
        <p>新規追加</p>
        <div class="icon2 icon--plus2">
          <span class="icon__mark2"></span>
        </div>
        <a href="/project/create"></a>
      </div>
      <div class="project-box" th:if="joinList!=null" th:each="joinProject : ${joinList}" onclick="window.alert('おためしだよ')">
        <p th:text="${joinProject.getProject().getProjectName()}">プロジェクト名</p>
        <p class="project-date">プロジェクト日付</p>
        <p><span th:text="${#dates.format(joinProject.getProject().getStartDate(),'yyyy/MM/dd')}"></span> ~ <span th:text="${#dates.format(joinProject.getProject().getLastDate(),'yyyy/MM/dd')}"></span></p>
        <p class="project-user">作成者：<span th:text="${joinProject.getProject().getUser().getAccountName()}"></span></p>
        <a th:href="@{/project__${joinProject.getProject().getProjectId()}__/schedule}"></a>
      </div>
    </div>
  </div>
</html>
