<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>プロジェクト選択</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="all" />
</head>
<body>
<header>
  <div class="head-menu">
    <p class="menu-title">旅行計画アプリ</p>
    <a class="user" href="accountEdit.html"><img src="../img/user.png"></a>
  </div>
</header>
  <div class="project-select">
    <p class="font">プロジェクト選択</p>
    
    <div class="project">
    
      <div class="new-create">
        <p>新規追加</p>
        <div class="icon2 icon--plus2">
          <span class="icon__mark2"></span>
        </div>
        <a href="/project/create"></a>
      </div>
      
    </div>
  </div>
</html>
