<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>header</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
</head>
<body>
<header>
  <div class="head-menu">
    <p class="menu-title">旅行計画アプリ</p>
    <a class="user" href=""><img src="images/user.png"></a>
    <a class="chat" href=""><img src="images/chat.png"></a>
  </div>
  <div class="side-menu">
    <nav class="gnav">
      <ul class="gnav-menu">
        <li><a href="scedule.html">スケジュール一覧</a></li>
        <li><a href="sceduleDetail.html">スケジュール詳細</a></li>
        <li><a href="question.html">アンケート一覧</a></li>
        <li><a href="projectEdit.html">プロジェクト編集</a></li>
        <li><a href="">ログアウト</a></li>
      </ul>
    </nav>
  </div>
</header>
</html>
