<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<link rel="stylesheet" type="text/css" href="../css/style.css" media="all" />
    <title>スケジュール一覧</title>
    <meta charset="UTF-8">
</head>
<body>

<div id="main-content" class="container">
<p>Test Question Answer</p>

<tr th:each="question : ${questionList}">


	<form method="post" th:action="@{/question/{userid}/answer(userid=${userId})}" th:object="${answerForm}">
		<!-- タイトル -->
		<p><td th:text="${question.title}"></td></p>
		
		<!-- 回答可能な場合 -->
		<div th:if="${question.answerFin}">
			<div th:each="c : ${question.choiceList}">
				<label><input type="radio" name="choiceId" th:value="${c.choiceId}" th:text="${c.choiceText}" /></label>
			</div>
			<input type="submit" value="送信"/>
		</div>
		
		<!-- 回答不可能な場合 -->
		<div th:unless="${question.answerFin}">
			<div th:each="c : ${question.choiceList}">
				<p th:text="${c.choiceText}" />
			</div>
			<p>回答済</p>
		</div>
	</form>
			 			 
</tr>
</div>


</body>
</html>