<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="utf-8">
    <title>アンケート一覧</title>
    <link rel="stylesheet" type="text/css" href="../../../css/style.css" media="all" />
</head>
<body>
<header>
  <div class="head-menu">
    <p class="menu-title">旅行計画アプリ</p>
    <a class="user" href=""><img src="images/user.png"></a>
  </div>
  <div class="side-menu">
    <nav class="gnav">
      <ul class="gnav-menu">
        <li><a href="">スケジュール一覧</a></li>
        <li><a href="">スケジュール詳細</a></li>
        <li><a href="">アンケート一覧</a></li>
        <li><a href="">プロジェクト編集</a></li>
        <li><a href="">ログアウト</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="question-add">
  <div class="list-and-add">
  <p>アンケート一覧</p>
  <p class="add-question"><a th:href="@{/question/create{project_id}(project_id=${projectId})}" th:if="${member==1}"><img src="images/scedule.png">新規アンケート</a></p>
  </div>
</div>


<section>
  <div th:each="question : ${questionList}" class="question-main">
  <!--   回答可能な場合 -->
   <div>
  <form method="post" th:action="@{/question/answer{userid}(userid=${userId})}" th:object="${answerForm}">
    <div th:switch="${question.checkAnswer}">
      <p class="status" th:case="false">未回答</p>
      <p class="status"th:case="true">回答済</p>
    </div>
    <h2 th:text="${question.title}" class="question-ttl">アンケート名</h2>
    <p th:text="${question.limitTime}" class="add-date"></p>
          <p th:text="${question.questionDetail}" class="question-data">アンケート詳細</p>
      <p class="choice-list" th:each="c : ${question.choiceList}">
        <input th:text="${c.choiceText}" th:value="${c.choiceId}" type="radio" id="radio01" name="choiceId" />
        <label for="radio01"></label>
      </p>
	<p><input type="submit" class="create" th:if=${question.answerFin==true&&question.choiceList==false} value="回答" /></p>
    <p><a class="scedule-edit-button" href="questionEdit.html" th:href="@{/question/edit{questionid}(questionid=${question.questionId})}" th:if="${member==1}">編集</a>
        <a class="scedule-delete-button" href="">削除</a></p>
    </form>
    </div>
  </div>
</section>
</html>
