<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="utf-8">
    <title>新規アンケート追加</title>
    <link rel="stylesheet" type="text/css"  href=",./static/css/style.css" media="all" />
</head>
<body>
<header>
  <div class="head-menu">
    <p class="menu-title">旅行計画アプリ</p>
    <a class="user" href=""><img src="images/user.png"></a>
  </div>
  <div class="side-menu">
    <nav class="gnav">
      <ul class="gnav-menu">
        <li><a href="">スケジュール一覧</a></li>
        <li><a href="">スケジュール詳細</a></li>
        <li><a href="">アンケート一覧</a></li>
        <li><a href="">プロジェクト編集</a></li>
        <li><a href="">ログアウト</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="question-add">
  <p class="font">アンケート新規追加</p>
    <hr>
    <form action="post" class="add">
        <p>アンケート名</p>
          <p><input type="text" class="question" name="question" placeholder="" /></p>
    <hr>
        <p>アンケート詳細</p>
          <p><input type="text" class="question-data" name="question-data" placeholder="" /></p>
    <hr>
        <p>回答期限</p>
          <p><input type="date" name="date" class="date"></p>
          <p><input type="date" name="date" class="date"></p>
        <p>まで</p>
    <hr>
        <p>選択肢</p>
          <p><input type="text" class="choice" name="question" /></p>
          <p id="choice"><input type="text" class="choice" name="question" /></p>
        <div class="icon icon--plus" id="qadd">
          <span class="icon__mark"></span>
        </div>
        <div class="micon icon--minus" id="qdel">
          <span class="icon__mark"></span>
        </div>
    <hr>
        <p><input type="submit" class="create" value="新規作成" /></p>

    </form>

</div>
</body>
</html>