<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="utf-8">
    <title>アンケート編集</title>
     <link rel="stylesheet" type="text/css" href="../../../css/style.css" media="all" />
    <script type="text/javascript" src="../../../js/jQuery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../../js/choice.js"></script>
</head>
<body>
<header>
  <div class="head-menu">
    <p class="menu-title">設定</p>
    <a class="user" href=""><img th:src="@{/img/user.png}"></a>
  </div>
  <div class="side-menu">
    <nav class="gnav">
      <ul class="gnav-menu">
        <li><a th:href="@{'/project' + ${projectId} + '/schedule'}">スケジュール一覧</a></li>
        <li><a th:href="@{'/project' + ${projectId} + '/schedule/detail'}">スケジュール詳細</a></li>
        <li><a th:href="@{'/project' + ${projectId} + '/question'}">アンケート一覧</a></li>
        <li><a th:href="@{'/project' + ${projectId} + '/edit'}">プロジェクト編集</a></li>
        <li><a href="/logout">ログアウト</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="question-edit">
  <p class="font">アンケート編集</p>
    <hr>
    <form method="post" th:action="@{'/project' + ${projectId} + '/question/editend/'+ ${question.questionId}}" th:object="${questionEditForm}" class="add">
        <p>アンケート名</p>
          <p><input type="text" th:value="${question.title}" name="title" class="question" /></p>
    <hr>
        <p>アンケート詳細</p>
          <p><input type="text" th:value="${question.questionDetail}" name="questionDetail" class="question-data" /></p>
    <hr>
        <p>回答期限</p>
          <p><input type="date" name="limitTime1" th:value="${#dates.format(question.limitTime, 'yyyy-MM-dd')}" class="date" /></p>
          <p><input type="time" name="limitTime2" class="date" th:value="${#dates.format(question.getLimitTime(), 'HH:mm')}"/></p>
    <hr>
        <p>選択肢</p>    
      <ul id="choiceUl" >
        <li class="inputList" th:each="c : ${question.choiceList}" >
          <input type="text" class="choice" name="choiceList" th:value="${c.choiceText}" />
        </li>
      </ul>
       
        <div class="icon icon--plus" id="qadd">
          <span class="icon__mark"></span>
        </div>
        <div class="micon icon--minus" id="qdel">
          <span class="icon__mark"></span>
        </div>
    <hr>
        <p><input type="submit" class="create" value="更新" /></p>

    </form>
</div>
</body>
</html>