<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>新規スケジュール追加</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="all" />
</head>
<body>
<header>
  <div class="head-menu">
    <p class="menu-title">旅行計画アプリ</p>
    <a class="user" href=""><img th:src="@{/img/user.png}"></a>
  </div>
  <div class="side-menu">
    <nav class="gnav">
      <ul class="gnav-menu">
        <li><a th:href="@{'/project' + ${projectId} + '/schedule'}">スケジュール一覧</a></li>
        <li><a th:href="@{'/project' + ${projectId} + '/schedule/detail'}">スケジュール詳細</a></li>
        <li><a href="/question/2">アンケート一覧</a></li>
        <li><a href="">アンケート一覧</a></li>
        <li><a href="">プロジェクト編集</a></li>
        <li><a href="/logout">ログアウト</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="scedule-add">
  <p class="font">スケジュール新規追加</p>
    <hr>
    <form th:action="@{'/project' + ${projectId} + '/schedule/add'}" class="add" method="post" th:object="${ScheduleForm}">
        <p>予定名</p>
          <p><input type="text" class="scedule-name"  name="title"  placeholder="" /></p>
    <hr>
        <select class="scedule-type" name="cateId">
          <option value="1">食事</option>
          <option value="2">移動</option>
          <option value="3">買い物</option>
          <option value="4">準備</option>
          <option value="5">レジャー</option>
          <option value="6">観光</option>
          <option value="7">就寝</option>
          <option value="8">その他</option>
        </select>
    <hr>
        <p>時間</p>
          <p><input type="date" class="date" name="day" placeholder="" /></p>
          <p><input type="time" class="start-time" name="start" placeholder="" /></p>
          <p><input type="time" class="end-time" name="end" placeholder="" /></p>
    <hr>
        <p>イメージ画像</p>
          <p><input type="file" class="project-img"></p>
          <p><input type="reset" class="reset" value="削除"></p>
    <hr>
        <p>テキスト</p>
          <p><input type="text" class="text" name="text"></p>
    <hr>
        <p><input type="submit" class="create" value="追加" /></p>

    </form>
</div>

</html>
