<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>新規登録</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}" media="all" />
</head>
<body>
	<div class="content">
		<p class="title">旅行計画アプリ</p>
		<div class="main">
			<div class="btn">
				<a class="regist" href="">登録</a> <a class="login"
					th:href="@{/login.html}">ログイン</a>
			</div>
			<p>ユーザーネームとパスワードを設定してください</p>
			<form th:action="@{/regist/registUser}" class="form" method="post">
				<p>UserName</p>
				<p class="username">
					<input type="text" name="username" placeholder="Your Name" />
				</p>
				<p>Password</p>
				<p class="password">
					<input type="password" name="password" placeholder="Password" />
				</p>
				<p>
					<input type="submit" class="submit" value="登録" />
				</p>
			</form>
		</div>
	</div>

</body>
</html>
